div#quiz-app {
  width: 400px;
  float: left;
  margin: 15px 25px 15px 0px;
  background-color: #3F424F;
  padding: 25px 0px 25px 0px;
  position: relative;
  height: 500px; }
  div#quiz-app div.question {
    color: #D8D8D8; }
    div#quiz-app div.question img {
      width: 50px;
      margin: 0px auto;
      display: block; }
    div#quiz-app div.question h2 {
      font-family: 'Museo Slab';
      font-size: 1.5em;
      font-weight: 700;
      margin-top: 25px;
      text-align: center; }
    div#quiz-app div.question span {
      font-weight: bold;
      margin: 25px 0px;
      display: block; }
    div#quiz-app div.question div.question-text {
      margin: 25px auto;
      width: 75%;
      min-width: 350px;
      max-width: 500px;
    text-align: center;}
    div#quiz-app div.question div.question-container div.answer-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      max-width: 500px;
      margin: 25px auto; }
      div#quiz-app div.question div.question-container div.answer-grid div {
        text-align: center;
        font-size: 1em;
        line-height: 1.75em;
        line-height: 1em;
        margin-bottom: 15px; }
        div#quiz-app div.question div.question-container div.answer-grid div div.answer-bubble {
          height: 50px;
          width: 50px;
          border-radius: 100%;
          cursor: pointer;
          border: solid medium #D8D8D8;
          margin: 0px auto; }
          div#quiz-app div.question div.question-container div.answer-grid div div.answer-bubble div.bubble-fill {
            height: 44px;
            width: 44px;
            margin: 3px 0px 0px 3px;
            background-color: #69CFAB;
            border-radius: 100%; }
        div#quiz-app div.question div.question-container div.answer-grid div div.answer-bubble:hover {
          opacity: 0.5; }
    div#quiz-app div.question div.question-container div.submit-btn {
      width: 75%;
      max-width: 500px;
      border-radius: 50px;
      background-color: #82848B;
      padding: 15px;
      text-align: center;
      color: #D8D8D8;
      margin: 0px auto;
      font-weight: bold; }
    div#quiz-app div.question div.question-container div.submit-btn:hover {
      opacity: 0.5;
      cursor: pointer; }
    div#quiz-app div.question div.answer-container {
      margin-top: 25px;
      display: none;
      text-align: center; }
      div#quiz-app div.question div.answer-container span {
        font-weight: normal; }
      div#quiz-app div.question div.answer-container span.answer-percent {
        display: inline-block;
        font-size: 2em;
        color: #69CFAB;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 100;
        margin: 0px; }
      div#quiz-app div.question div.answer-container span.answer-text {
        display: inline-block;
        margin: 0px; }
      div#quiz-app div.question div.answer-container div.percent-bar {
        width: 75%;
        max-width: 500px;
        border-radius: 50px;
        border: solid thick #D8D8D8;
        margin: 35px auto 85px auto;
        overflow: hidden;
        height: 50px; }
        div#quiz-app div.question div.answer-container div.percent-bar div.percent-fill {
          background-color: #69CFAB;
          height: 50px; }
      div#quiz-app div.question div.answer-container div.percent-bar-title {
        width: 75%;
        text-align: left;
        margin: 25px auto 0px auto;
        max-width: 500px; }
      div#quiz-app div.question div.answer-container div.next-btn {
        width: 100%;
        background-color: #82848B;
        color: #D8D8D8;
        position: absolute;
        bottom: 0px;
        padding: 25px 0px;
        cursor: pointer; }
      div#quiz-app div.question div.answer-container div.next-btn:hover {
        opacity: 0.5; }

@media only screen and (max-device-width: 480px) {
  div#quiz-app {
    width: 100%;
    padding: 100px 0px;
    box-sizing: border-box;
    height: 1100px;
    margin: 25px 0px; }
    div#quiz-app div.question img {
      width: 150px;
      height: 150px; }
    div#quiz-app div.question h2 {
      font-size: 3em;
      margin-top: 25px; }
    div#quiz-app div.question div.question-text {
      font-size: 2em;
      width: 90%;
      margin: 50px auto;
      max-width: none;
      text-align: center; }
    div#quiz-app div.question div.question-container div.answer-grid {
      font-size: 2em;
      max-width: none; }
      div#quiz-app div.question div.question-container div.answer-grid div div.answer-bubble {
        height: 100px;
        width: 100px; }
        div#quiz-app div.question div.question-container div.answer-grid div div.answer-bubble div.bubble-fill {
          height: 94px;
          width: 94px; }
    div#quiz-app div.question div.question-container div.submit-btn {
      font-size: 2em;
      width: 90%;
      max-width: none;
      margin-top: 50px;
      padding: 40px 0px;
      border-radius: 80px; }
    div#quiz-app div.question div.answer-container {
      font-size: 2em; }
      div#quiz-app div.question div.answer-container span.answer-text {
        font-size: 1em; }
      div#quiz-app div.question div.answer-container div.percent-bar {
        margin-top: 50px; }
      div#quiz-app div.question div.answer-container div.next-btn {
        font-size: 1em; } }

/*# sourceMappingURL=style.css.map */
