$green: #69CFAB;
$blue: #3F424F;
$white: #D8D8D8;
$grey: #82848B;

div#quiz-app {
    width: 400px;
    float: left;
    margin: 15px 25px 15px 0px;
    background-color: $blue;
    padding: 25px 0px 25px 0px;
    position: relative;
    height: 600px;
    text-align: center;
    div.question {
        color: $white;
        img {
            width: 50px;
            margin: 0px auto;
            display: block;
        }
        div.intro {
            margin: 25px 25px 0px 25px;
        }
        h2 {
            font-family: 'Museo Slab';
            font-size: 1.5em;
            font-weight: 700;
            margin-top: 25px;
            text-align: center;
        }
        span {
            font-weight: bold;
            margin: 25px 0px;
            display: block;
        }
        div.question-text {
            margin: 25px auto;
            width: 75%;
            min-width: 350px;
            max-width: 500px;
        }
        div.question-container {
            div.answer-grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                max-width: 500px;
                margin: 25px auto;
                div {
                    text-align: center;
                    font-size: 1em;
                    line-height: 1.75em;
                    line-height: 1em;
                    margin-bottom: 15px;
                    div.answer-bubble {
                        height: 50px;
                        width: 50px;
                        border-radius: 100%;
                        cursor: pointer;
                        border: solid medium $white;
                        margin: 0px auto;
                        div.bubble-fill {
                            height: 44px;
                            width: 44px;
                            margin: 3px 0px 0px 3px;
                            background-color: $green;
                            border-radius: 100%;
                        }
                    }
                    div.answer-bubble:hover {
                        opacity: 0.5;
                    }
                }
            }
            div.submit-btn {
                width: 75%;
                max-width: 500px;
                border-radius: 50px;
                background-color: $grey;
                padding: 15px;
                text-align: center;
                color: $white;
                margin: 0px auto;
                font-weight: bold;
            }
            div.submit-btn:hover {
                opacity: 0.5;
                cursor: pointer;
            }
        }
        div.answer-container {
            margin-top: 25px;
            display: none;
            text-align: center;
            span {
                font-weight: normal;
            }
            span.answer-percent {
                display: inline-block;
                font-size: 2em;
                color: $green;
                font-family: 'Times New Roman', Times, serif;
                font-weight: 100;
                margin: 0px;
            }
            span.answer-text {
                display: inline-block;
                margin: 0px;
            }
            div.percent-bar {
                width: 75%;
                max-width: 500px;
                border-radius: 50px;
                border: solid thick $white;
                margin: 35px auto 85px auto;
                overflow: hidden;
                height: 25px;
                div.percent-fill {
                    background-color: $green;
                    height: 50px;
                }
            }
            div.percent-bar-title {
                width: 75%;
                text-align: left;
                margin: 25px auto 0px auto;
                max-width: 500px;
            }
            div.next-btn {
                width: 100%;
                background-color: $grey;
                color: $white;
                position: absolute;
                bottom: 0px;
                padding: 25px 0px;
                cursor: pointer;
            }
            div.next-btn:hover {
                opacity: 0.5;
            }
        }
    }
}

@media only screen and (max-device-width: 480px) {
    div#quiz-app {
        width: 100%;
        padding: 50px 0px;
        box-sizing: border-box;
        height: 700px;
        margin: 25px 0px;
        div.question {
            img {
                width: 75px;
                height: 75px;
            }
            h2 {
                font-size: 1.5em;
                margin-top: 25px;
            }
            div.question-text {
                font-size: 1em;
                width: 90%;
                margin: 50px auto;
                max-width: none;
                text-align: center;
            }
            div.question-container {
                div.answer-grid {
                    font-size: 1em;
                    max-width: none;
                }
                div.submit-btn {
                    font-size: 1em;
                    width: 90%;
                    max-width: none;
                    margin-top: 50px;
                    padding: 10px 0px;
                    border-radius: 80px;
                }
            }
            div.answer-container {
                font-size: 1em;
                span.answer-text {
                    font-size: 1em;
                }
                div.percent-bar {
                    margin-top: 50px;
                }
                div.next-btn {
                    font-size: 1em;
                }
            }
        }
    }
}