$green: #69CFAB;
$blue: #3F424F;
$white: #D8D8D8;
$grey: #82848B;
div#quiz-comparison-app {
    width: 100%;
    max-width: 750px;
    margin: 25px auto;
    background-color: $blue;
    padding: 25px 0px 25px 0px;
    color: $white;
    img.logo {
        width: 50px;
        margin: 0px auto;
        display: block;
    }
    h2.question-title {
        font-family: 'Museo Slab';
        font-size: 1.5em;
        font-weight: 900;
    }
    div.intro-text {
        font-weight: bold;
        margin: 25px auto;
        border-top: solid medium $white;
        border-bottom: solid medium $white;
        width: 75%;
        padding: 15px 0px;
    }
    div.info-text {
        margin: 0px auto;
        width: 75%;
    }
    div.filters-container {
        background-color: $grey;
        padding: 15px 0px;
        margin: 25px 0px;
        div.dropdown {
            border: solid thin $white;
            display: block;
            text-align: left;
            margin: 15px auto;
            width: 350px;
            padding: 5px 15px;
            position: relative;
            cursor: pointer;
            span.arrow {
                float: right;
            }
            ul {
                position: absolute;
                width: 382px;
                list-style: none;
                margin-left: -16px;
                margin-top: 5px;
                display: none;
                li {
                    background-color: $white;
                    color: $grey;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 5px 15px;
                }
                li:hover {
                    background-color: $green;
                }
            }
        }
        div.clear-btn {
            background-color: $white;
            color: $grey;
            padding: 5px 15px;
            width: 350px;
            margin: 0px auto;
            cursor: pointer;
        }
        div.clear-btn:hover {
            opacity: 0.5;
        }
        div#sub-category {
            display: none;
        }
        div.btn-container {
            display: block;
            text-align: center;
            div {
                background-color: $white;
                color: $blue;
                display: inline-block;
                padding: 5px 15px;
                width: 150px;
                cursor: pointer;
                font-weight: bold;
                margin: 5px;
            }
            div:hover {
                opacity: 0.5;
            }
        }
    }
    div.question {
        width: 75%;
        margin: 0px auto;
        border-bottom: solid thick $grey;
        padding: 50px 0px 50px 0px;
        div.text-grid {
            display: grid;
            grid-template-columns: 10% 90%;
            div {
                text-align: left;
            }
            div.num {
                font-family: 'Times New Roman';
                font-size: 2em;
            }
        }
        div.bar-grid {
            display: grid;
            grid-template-columns: 20% 80%;
            margin-top: 25px;
            div {
                text-align: center;
            }
            div.label-text {
                line-height: 10px;
                padding-top: 30px;
            }
            div.percent {
                font-family: 'Times New Roman', Times, serif;
                font-size: 2em;
                text-align: left;
            }
            div.bar-container {
                width: 95%;
                border: solid medium $white;
                height: 25px;
                border-radius: 25px;
                margin: 10px 0px 0px 15px;
                overflow: hidden;
                div.bar-fill {
                    background-color: $green;
                    height: 100%;
                }
            }
        }
    }
}

@media only screen and (max-device-width: 480px) {
    div#quiz-comparison-app {
        padding: 50px 0px;
        max-width: none;
        font-size: 2em;
        img.logo {
            width: 150px;
            height: 150px;
        }
        h2.question-title {
            font-size: 2em;
        }
        div.filters-container {
            div.dropdown {
                width: 450px;
                padding: 10px 25px;
                ul {
                    width: 502px;
                    margin-left: -26px;
                    margin-top: 11px;
                }
            }
            div.clear-btn {
                width: 480px;
                margin-bottom: 25px;
            }
        }
        div.question {
            div.text-grid {
                grid-template-columns: 30% 70%;
            }
            div.bar-grid {
                grid-template-columns: 30% 70%;
                div.bar-container {
                    margin: 30px 0px 0px 15px;
                }
                div.label-text {
                    line-height: 0px;
                    padding-top: 70px;
                }
            }
        }
    }
}